/*The following two CSS rules are from Google Fonts. Picked out 'Taviraj' normal and italic*/
@font-face {
    font-family: 'Taviraj';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Taviraj Italic'), local('Taviraj-Italic'), url(https://fonts.gstatic.com/s/taviraj/v5/ahcbv8Cj3ylylTXzTOwbUMl0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Taviraj Regular'), local('Taviraj-Regular'), url(https://fonts.gstatic.com/s/taviraj/v5/ahcZv8Cj3ylylTXzTOkrUg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* { /*Box Model changed so that border merges with padding and thickness*/
    box-sizing: border-box;
}

html {
    background-color: rgb(36, 36, 36); /*Changed*/
    color: white;
    font-family: "Taviraj";
}

hr { 
    opacity: 0%;
}

/* header */

header {
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 2px solid rgb(175, 175, 175);
    /*padding: 0px; 
    margin: 0px;*/
}

#brandName {
    box-sizing: content-box;
    font-size: 3rem;
    text-align: center;

    display: inline-block;
    position: relative;
    float: left;
    width: 33.3333333333%;
    height: 150px;
    border: 1px solid green;
    padding: 0px;
    margin: 0px auto;

    transition: 0.25s;
}

#brandName:hover {
    color: red;
    letter-spacing: 5px;
}

.searchBar {
    /* font-size: 3rem; Removing this will make sure there is no spacing between buttons*/
    text-align: center;
    display: inline-block;
    position: relative;
    height: 150px;
    float: center;
    width: 33.3333333333%;
    border: 1px solid green;
    padding: 0px;
    margin: 0px auto;
}

.searchBar input {
    margin: 20px auto;
}

#loginBox {
    text-align: center;
    float: right;
    display: inline-block;
    position: relative;
    width: 33%;
    height: 150px;
    border: 1px solid red;
    padding: 0px;
    margin: 0px auto;
    font-family: "Taviraj";
}

input {
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    color: white;
    background-color: black; /*Changed*/
    text-align: center;
    font-family: "Taviraj";
    font-size: 16px;
    font-weight: 400px;
    padding: 4px;
    margin: 7px;
    outline: none;
    transition: 0.25s;
}

input[type = "text"]:focus, input[type = "password"]:focus {
    width: 250px;
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(190, 190, 190);
    color: black;
}

input:hover {
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(190, 190, 190);
    color: black;
}

input[type = "button"]:hover {
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(190, 190, 190);
    color: black;
    cursor: pointer;
    letter-spacing: 5px;
}

nav {
    float: center;
    /*text-align: center; /*Doesn't move hyperlinks to center*/
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid red;
    padding: 10px 0px;
    margin: 0px;
    text-align: center;
}

header a{
    background-color: black; /*Changed*/
    border: 2px solid rgb(190, 190, 190);
    border-radius: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    padding: 0px 5px;
    margin: 0px 10px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}

header a:hover {
    background-color: rgb(216, 216, 216);
    border: 3px solid rgb(190, 190, 190);
    color: black;
    padding: 5px;
    border-radius: 10px;
    letter-spacing: 10px;
}

/* main */

h2 {
    border: 2px solid white;
    text-align: center;
    background-color: black;
    transition: 0.25s;
    padding: 5px;
    letter-spacing: 10px;
    /* font-size: 1.5rem < - This is default */
}

h2:hover {
    color: red;
    letter-spacing: 20px;
}

table {
    height: 40%;
    width: 100%;
    left: 10%;
    right: 10%;
    margin: auto auto;
    overflow-y: scroll;
    position: static;
    border-spacing: 75px;
    border-collapse: separate;
}

thead th {
    color: #FFF;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    text-transform: capitalize;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF; /*Does not show*/
    margin-bottom: 5px; /*Does not show*/
}

th, td {
    /* font-family: 'Lato', sans-serif; */
    font-size: 18px; /*No differ*/
    font-weight: 400; /*No differ*/
    padding: 100px;
    text-align: center;
    width: 33.3333%;
    border: 2px solid rgb(196, 196, 196);
    background: black;
    border-radius: 24px;
    transition-delay: 0.25s;
}

td:hover {
    background-color: rgb(216, 216, 216); /*Changed*/
    border: 5px solid rgb(190, 190, 190);
    color: black;
    padding: 100px;
    border-radius: 28px;
}

/* .rowOne {
    display: table;
    table-layout: fixed; 
    width: 100%;
}

.rowOne #box {
    border: 5px solid white;
    display: inline-block;
    border-radius: 24px;
    display: table-cell;
    text-align: center;
    margin: 0px 100px;
    padding: 150px 150px;
    background-color: black;
} */

.grid {
    /*Grid CSS can resize when window shortens*/
    /* border: 2px yellow solid; */
    width: 90%;
    height: 500px;
    margin: 100px auto; /*second auto centers the grid*/
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-row-gap: 50px;
    grid-auto-flow: row;
    /* grid-template-rows: 100%; added */
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    grid-column-gap: 5%;
    flex: auto;
}

.box {
    /* background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px white solid;
    margin-left: 20%; */

    /* font-family: 'Lato', sans-serif; */
    font-size: 18px; /*No differ*/
    font-weight: 400; /*No differ*/
    /* padding: 100px; */
    padding: 10%;
    text-align: center;
    /* width: 33.3333%; */
    border: 2px solid rgb(196, 196, 196);
    background: black;
    border-radius: 24px;
    transition-delay: 0.25s;
}

.box:hover {
    background-color: rgb(216, 216, 216); /*Changed*/
    border: 5px solid rgb(190, 190, 190);
    color: black;
    border-radius: 28px;
    padding: 20%;
    font-weight: 800;
    font-size: 22px;
}

footer {
    text-align: end;
}