/*The following two CSS rules are from Google Fonts. Picked out 'Taviraj' normal and italic*/
@font-face {
  font-family: "Taviraj";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Taviraj Italic"), local("Taviraj-Italic"),
    url(https://fonts.gstatic.com/s/taviraj/v5/ahcbv8Cj3ylylTXzTOwbUMl0.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Taviraj Regular"), local("Taviraj-Regular"),
    url(https://fonts.gstatic.com/s/taviraj/v5/ahcZv8Cj3ylylTXzTOkrUg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*Box Model changed so that border merges with padding and thickness*/

* {
  box-sizing: border-box;
}

html {
  background-color: darkblue;
  color: rgb(209, 209, 209);
  font-family: "Taviraj";
}

html:hover {
  color: lightblue;
}

hr {
  opacity: 0%;
}

/* header */

header {
  width: 100%;
  height: 100%;
  background-color: #000;
  border: 2px solid lightblue;
  /*padding: 0px; 
    margin: 0px;*/
}

#brandName {
  box-sizing: content-box;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  position: relative;
  float: left;
  width: 33.3333333333%;
  height: 150px;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;
  transition: 0.5s;
  /* color: red; */
}

#brandName:hover {
  /* color: lightblue; */
  color: red;
  letter-spacing: 5px;
}

.searchBar {
  /* font-size: 3rem; Removing this will make sure there is no spacing between buttons*/
  text-align: center;
  display: inline-block;
  position: relative;
  height: 150px;
  float: center;
  width: 33.3333333333%;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;
}

.searchBar input {
  margin: 20px auto;
}

#loginBox {
  text-align: center;
  float: right;
  display: inline-block;
  position: relative;
  width: 33%;
  height: 150px;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;
  font-family: "Taviraj";
}

input {
  width: 200px;
  height: 30px;
  background: transparent;
  border: 2px solid lightblue;
  border-radius: 24px;
  color: lightblue;
  background-color: darkblue;
  text-align: center;
  font-family: "Taviraj";
  font-size: 16px;
  font-weight: 400px;
  padding: 4px;
  margin: 7px;
  outline: none;
  transition: 0.5s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  width: 250px;
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(190, 190, 190);
  color: black;
}

input:hover {
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(190, 190, 190);
}

input[type="button"]:hover {
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(190, 190, 190);
  color: black;
  cursor: pointer;
  letter-spacing: 5px;
}

input[type="button"]:focus {
  background-color: rgb(0, 0, 189);
  border: 2px solid lightblue;
  color: lightblue;
  letter-spacing: 2px;
}

input[type="button"]:active {
  background-color: rgb(160, 160, 160);
  border: 4px solid lightblue;
}

#usernameDisplay {
  transition: 0.5s;
}

#usernameDisplay:hover {
  color: rgb(0, 177, 0);
  letter-spacing: 5px;
}

nav {
  float: center;
  /*text-align: center; /*Doesn't move hyperlinks to center*/
  display: inline-block;
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  padding: 10px 0px;
  margin: 0px;
  text-align: center;
}

header a {
  background-color: darkblue;
  border: 2px solid lightblue;
  border-radius: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: lightblue;
  letter-spacing: 5px;
  padding: 0px 5px;
  margin: 0px 10px;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
}

header a:hover {
  background-color: rgb(216, 216, 216);
  border: 3px solid rgb(190, 190, 190);
  color: black;
  padding: 5px;
  border-radius: 10px;
  letter-spacing: 10px;
}

header a:focus {
  background-color: rgb(216, 216, 216);
  border: 3px solid rgb(190, 190, 190);
  color: black;
  padding: 5px;
  border-radius: 10px;
  letter-spacing: 10px;
}

header a:active {
  background-color: rgb(255, 255, 255);
}

/* main */

h2 {
  border: 2px solid lightblue;
  text-align: center;
  background-color: black;
  transition: 0.5s;
  padding: 5px;
  letter-spacing: 10px;
}

h2:hover {
  color: red;
  letter-spacing: 20px;
}

/* Reworked grid hyperlinks */
#hot a,
#electronics a {
  color: rgb(0, 102, 255);
  /* Letter-spacing makes the height collide with the next part of the website */
  /* letter-spacing: 5px; */
}

#hot a:hover,
#electronics a:hover {
  color: darkblue;
  /* letter-spacing: 0px; */
}

.grid {
  width: 90%;
  height: 500px;
  margin: 100px auto 0px auto; /*second auto centers the grid*/
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-row-gap: 50px;
  grid-auto-flow: row;
  /* grid-template-rows: 100%; added */
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  grid-column-gap: 5%;
  flex: auto;
}

.img {
  /* flex: 0 0 50%; /*width is 80%*/
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  border: 5px solid rgb(196, 196, 196);
  position: relative;
  transition: 0.5s;
}

.box {
  /* background-color: black;
    color: lightblue;
    border-radius: 5px;
    border: 2px lightblue solid;
    margin-left: 20%; */

  /* width: 100px;
    height: 100px; */

  /* font-family: 'Lato', sans-serif; */
  font-size: 18px; /*No differ*/
  font-weight: 400; /*No differ*/
  /* padding: 100px; */
  padding: 10%;
  text-align: center;
  /* width: 33.3333%; */
  border: 2px solid lightblue;
  background: black;
  border-radius: 24px;
  transition-delay: 0.25s;
}

.box:hover {
  background-color: rgb(216, 216, 216);
  border: 5px solid rgb(190, 190, 190);
  color: black;
  border-radius: 28px;
  padding: 20%;
  font-weight: 800;
  /* Makes height of grid box collide with height when hovered. */
  /* font-size: 22px; */
}

.slider {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*Makes the buttons move down to the correct y axis on the page*/
}

.images {
  flex: 0 0 80%; /*width is 80%*/
  min-height: 80vh;
  background: url("img/bcg-0.jpg");
  border-radius: 15px;
  border: 5px solid rgb(196, 196, 196);
  box-shadow: 5px 10px black;
  position: relative;
  transition: 0.5s;
}

.images:hover {
  background: url("img/bcg-0.jpg") center/cover no-repeat;
  border: 10px solid rgb(190, 190, 190);
  padding: 1rem;
  box-shadow: 10px 15px black;
}

.btn {
  display: inline-block;
  background: darkblue;
  color: lightblue;
  border: 3px solid lightblue;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 20%;
  box-shadow: 2px 5px black;
  outline: none;
  transition: 0.5s;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(75%, -50%);
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-75%, -50%);
}

.btn:hover {
  background: rgb(216, 216, 216);
  color: black;
  border: 5px solid white;
  padding: 0.7rem;
  letter-spacing: 5px;
  box-shadow: 5px 10px black;
  cursor: pointer;
}

.btn:active {
  background: rgb(194, 194, 194);
  box-shadow: 1px 1px grey;
}

/* Footer */

footer {
  text-align: end;
  width: 100%;
  height: 400px;
  background-color: #000;
  border: 2px solid lightblue;
  text-align: center;
}

footer span {
  font-size: 3em;
}

footer i.fab,
i.fas {
  border: 3px solid lightblue;
  border-radius: 24px;
  width: 100%;
}

.left_footer {
  box-sizing: content-box;
  text-align: center;

  display: inline-block;
  position: relative;
  float: left;
  width: 33%;
  height: 80%;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;

  transition: 0.5s;
}

.left_footer:hover {
  color: rgb(0, 177, 0);
  letter-spacing: 5px;
}

.center_footer {
  box-sizing: content-box;
  text-align: center;

  display: inline-block;
  position: relative;
  float: center;
  width: 33%;
  height: 80%;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;

  transition: 0.5s;
}

.center_footer:hover {
  color: blue;
  letter-spacing: 5px;
}

.right_footer {
  box-sizing: content-box;
  text-align: center;

  display: inline-block;
  position: relative;
  float: right;
  width: 33%;
  height: 80%;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px auto;

  transition: 0.5s;
}

.right_footer:hover {
  color: gray;
  letter-spacing: 5px;
}

.copyright {
  transition: 0.5s;
}

.copyright:hover {
  color: lightblue;
  letter-spacing: 5px;
  border: 1px solid blue;
}
