// Variables

$primaryColor: darkblue;
$secondaryColor: lightblue;
$boxColor: black;
$mainTransition: all 0.25s ease-in-out;
$headerHover: red;
$activeBgColor: rgb(0, 153, 204);
$contrastThemeColor: blue;
$primaryBorder: 2px outset $secondaryColor;
